$bg-no: #ffede9;
$bg-maybe: #fcf7e1;
$bg-unvoted: #fff4c8;
$bg-yes: #ebf5d6;
$bg-information: #b19c3e;

$fg-no: #f45573;
$fg-maybe: #f0db98;
$fg-unvoted: #f0db98;
$fg-yes: #49bc49;

// Icon definitions
@mixin icon-color($icon, $dir, $color, $version: 1, $core: false)
.icon-app {
	@include icon-color('app','forms',$color-text-maxcontrast)
}
.icon-yes {
	@include icon-color('checkmark','actions',$fg-yes,1,true)
}
.icon-comment-yes {
	@include icon-color('comment','actions',$fg-yes,1,true)
}
.icon-comment-no {
	@include icon-color('comment','actions',$fg-no,1,true)
}
.icon-no {
	@include icon-color('close','actions',$fg-no,1,true)
}
.icon-maybe {
	@include icon-color('maybe-vote-variant','forms',$fg-maybe)
}
