.flex-row {
	display: flex;
	flex-direction: row;
	flex-grow: 1;
	/* align-items: center; */
	&.align-centered {
		align-items: center;
	}
}

.flex-column {
	display: flex;
	flex-direction: column;
	flex-grow: 0;
	flex-shrink: 0;
	&.align-centered {
		align-items: center;
	}
}
