h1 {
	font-size: 1.8em;
	margin-bottom: 5px;
}

.icon-forms {
	background-image: var(--icon-forms);
}

/* allow horizontal scrollbar
   otherwise user management is not usable on mobile */
@media only screen and (max-width: 768px) {
	#app-content {
		overflow-x: auto !important;
	}
}

#controls {
	// adopted from NC13 for compatibily with OC10 and NC11-NC12
	width: 100%;
	position: relative;
	top: 4px;
	h2 {
		margin-top: 12px;
	}
	.breadcrumb {
		flex-grow: 1;
		overflow: hidden;

		div.crumb {
			overflow: hidden;
			white-space: nowrap;
			flex-shrink: 0;
		}
	}
}

input[type='text'] {
	display: block;
	width: 100%;
}

/* OC10 and NC11 fixes*/
.symbol {
	display: inline-block;
}
