.app-forms {
	margin: auto;
	width: 50%;
	margin-top: 20px;
}

.sv-q-description {
	font-size: 420px;
}

/* hotfixcss
 setting the width to 70% so it takes a more reasonable place for long titles
 line height to 1 so the lines don't overlap
 adding a margin-bottom for confort
*/
.sv_container {
	h3 {
		width: 70%;
		line-height: 1;
		margin-bottom: 5%;
		font-size: 30px;
	}
}


/* hotfixcss
changing to color so it matches the header
setting the width to 70% to match the previous fix
setting a more confortable margin-bottom
*/
.sv_qstn .sq-root {
	border: 1px solid gray;
	border-left: 4px solid #0082c9;
	border-radius: 5px;
	padding: 20px;
	width: 70%;
	margin-bottom: 6%;
	font-size: 18px;
}


/* hotfixcss
adding a margin
*/
.sq-title {
	font-size: 20px;
	margin-left: 20px;
	margin-bottom: 2%;
}

.sq-title-required {
	color: black;
}

/* hotfixcss
display fex and align items center so the radio button is aligned with the text
*/
.sq-label {
	margin-left: 30px;
	display: flex;
	align-items: center;
}

.sq-item:nth-child(1) {
	margin-bottom: 5px;
}

/* hotfixcss
adding the checkbox text's class to add a comfort margin
*/
.sv_q_checkbox_control_label {
	margin-left: 1%;
}
