.app-forms {
	margin: auto;
	width: 50%;
	margin-top: 20px;
}

.sv-q-description {
	font-size: 420px;
}

.sv_container {
	h3 {
		width: 400px;
		font-size: 30px;
	}
}

.sv_qstn .sq-root {
	border: 1px solid gray;
	border-left: 4px solid #18a689;
	border-radius: 5px;
	padding: 20px;
	width: 400px;
	margin-bottom: 30px;
	font-size: 18px;
}

.sq-title {
	font-size: 20px;
	margin-left: 20px;
}

.sq-title-required {
	color: black;
}

.sq-label {
	margin-left: 30px;
}

.sq-item:nth-child(1) {
	margin-bottom: 5px;
}
