/**
 * SPDX-FileCopyrightText: 2023 Nextcloud GmbH and Nextcloud contributors
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */

@mixin markdown-output {
	& {
		overflow-wrap: break-word;
	}

	:deep() {
		> :not(:first-child) {
			margin-block-start: 1.5em;
		}

		h1 {
			font-size: 28px;
			font-weight: bold;
			line-height: 34px;
			margin-bottom: 12px;
			color: var(--color-main-text);
		}

		a {
			color: var(--color-primary-element);
			text-decoration: underline;
		}

		blockquote {
			padding-inline-start: 1em;
			border-inline-start: 4px solid var(--color-primary-element);
			color: var(--color-text-maxcontrast);
		}

		pre {
			white-space: pre-wrap;
			background-color: var(--color-background-dark);
			border-radius: var(--border-radius);
			padding-block: 1em;
			padding-inline: 1.3em;
		}

		p code {
			background-color: var(--color-background-dark);
			border-radius: var(--border-radius);
			padding-block: 0.1em;
			padding-inline: 0.3em;
		}

		ul,
		ol {
			padding-inline-start: 10px;
			margin-inline-start: 10px;
		}

		ul {
			> li {
				list-style-type: disc;
			}

			// Second-level list entries
			li ul > li {
				list-style-type: circle;
			}

			// Third+-level list entries
			li li ul > li {
				list-style-type: square;
			}
		}
	}
}
